<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>About</h1>
    <p>Simple About page created manually.</p>
  </body>
</html>

