<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Home</h1>
    <p>Simple Home page created with rails g controller StaticPages home help</p>
  </body>
</html>

